<?xml version="1.0"?>
<launch>  

    <!-- hsr description-->
    <param name="robot_description"
           command="$(find xacro)/xacro
                    '$(find hsr_description)/robots/hsrb4s.urdf.xacro'"/>
    
    <!-- Environment description-->
    <arg name="world_urdf" default="$(find isr_testbed)/urdf/isr-testbed.urdf" />
    <arg name="environment_name" default="kitchen_description"/>
    <arg name="tf_prefix" default="kitchen_description"/>
    <arg name="joint_states_prefix" default="kitchen_description"/>
    
    <param name="$(arg environment_name)" command="$(find xacro)/xacro '$(arg world_urdf)'" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    	<remap from="robot_description" to="$(arg environment_name)"/>
    	<param name="rate" value="25"/>
    	<param name="use_gui" value="True"/>
    	<remap from="/joint_states" to="/$(arg joint_states_prefix)/joint_states" />
    	<rosparam param="source_list">
        - /kitchen/cram_joint_states
        </rosparam>
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="environment_link_broadcaster" 
    	  args="0 0 0 0 0 0 /map /$(arg tf_prefix)/world 25">
    </node>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="environment_state_publisher" output="screen">
    	<param name="tf_prefix" value="/$(arg tf_prefix)"/>
    	<param name="publish_frequency" value="2"/>
    	<remap from="robot_description" to="$(arg environment_name)" />
    	<remap from="/joint_states" to="/$(arg joint_states_prefix)/joint_states" />
    </node>        
    
    <node pkg="rviz" type="rviz" name="rviz" output="screen"
          args="-d $(find isr_testbed)/rviz_config/rviz_config.rviz"/>
    
    <!-- Gazebo args -->
    <env name="GAZEBO_MODEL_PATH" value="$(find isr_testbed)/world/models"/>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find isr_testbed)/world/models"/>
    <arg name="map_name" value="fake_map/map.yaml" />
    <arg name="robot_spawn_pose_x" default="0.9" />
    <arg name="robot_spawn_pose_y" default="-3.3" />
    <arg name="robot_spawn_pose_z" default="0" />
    <arg name="robot_spawn_rotation" default="1.57079632679 "/>
    <arg name="paused" default="true"/>
    
    
    <!-- startup simulated world -->
    <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true">
        <arg name="world_name" default="$(find isr_testbed)/world/worlds/isr-testbed.world"/>
        <arg name="map" default="$(find isr_testbed)/map/$(arg map_name)" />
        <arg name="robot_pos" value="-x $(arg robot_spawn_pose_x) -y $(arg robot_spawn_pose_y) -z $(arg robot_spawn_pose_z) -Y $(arg robot_spawn_rotation)"/>
        <arg name="ground_truth_xyz_offset" value="0.0\ 0.0\ 0.0" />
        <arg name="ground_truth_rpy_offset" value="0.0\ 0.0\ 0.0" />
        
        <arg name="paused" value="$(arg paused)"/>
        <arg name="rviz" value = "false" />
  
    </include>
    
    <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /laser_2d_correct_pose geometry_msgs/PoseWithCovarianceStamped '
	{header: { seq: 0, stamp: {secs: 0, nsecs: 0},
    	frame_id: 'map'}, pose:{ pose:{ position:{ x: 0.9, y: -3.3, z: 0.0}, orientation:{ x: 0.0, y: 0.0, z: 0.7, w: 0.7} }, covariance:[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 	0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}}'"/>

</launch>
